<%= form_with(model: project_report, local: true) do |form| %>
  <% if project_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_report.errors.count, "error") %> prohibited this project_report from being saved:</h2>

      <ul>
      <% project_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :report_at %>
    <%= form.datetime_select :report_at %>
  </div>

  <div class="field">
    <%= form.label :status_cd %>
    <%= form.text_area :status_cd %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
