<p id="notice"><%= notice %></p>

<h1>Project Reports</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Report at</th>
      <th>Status cd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_reports.each do |project_report| %>
      <tr>
        <td><%= project_report.project_id %></td>
        <td><%= project_report.report_at %></td>
        <td><%= project_report.status_cd %></td>
        <td><%= link_to 'Show', project_report %></td>
        <td><%= link_to 'Edit', edit_project_report_path(project_report) %></td>
        <td><%= link_to 'Destroy', project_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Report', new_project_report_path %>
